html, body * {
    font-family: soleil, sans-serif !important;
    font-size: 14px;
}

h1 {
    color: #cc0c31 !important;
    font-size: 2.25rem !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    margin-bottom: 1.25rem !important;
}

h1.login {
    color: #373737 !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    margin-bottom: 1.25rem !important;
    text-transform: uppercase;
}

h2 {
    color: #373737 !important;
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
    margin-bottom: 1.25rem !important;
}

h2.error-response {
    color: #cc0c31 !important;
    font-size: 1.2rem !important;
    margin-top: 20px;
}

h3 {
    color: #373737 !important;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    padding: 0.5rem 2.5rem;
}

p {
    color: #373737 !important;
    font-size: 1.15rem;
}

table a:link,
table a:visited {
    color: #cc0c31;
    font-size: 1rem;
    text-decoration: none;
}

table a:active,
table a:hover {
    text-decoration: underline;;
}

a.custom-link:link,
a.custom-link:visited {
    color: #cc0c31;
    font-size: 1.15rem;
    text-decoration: none;
}

a.custom-link:active,
a.custom-link:hover {
    text-decoration: underline;
}

p.login {
    font-size: 1.05rem !important;
}

p.label-text {
    font-size: 1.05rem !important;
}

p.error-response {
    color: #cc0c31 !important;
    font-size: 1rem !important;
    margin-top: 20px;
}

label {
    font-size: 0.9rem !important;
}

.alert {
    border-radius: 16px !important;
}

.scan-highlight {
    background-color: #9db8ae;
    border-radius: 16px;
    margin-bottom: 2.5rem !important;
    padding: 1.5rem !important;
}

.answer-area {
    padding: 1.5rem 2.5rem;
}

.answer-area select {
    background-color: #EBF1EF;
    border: 1px solid #50605e;
    border-radius: 16px;
    color: #373737;
}

select {
    border-radius :16px !important;
}

.mainnavigation {
    background-color: #ffffff;
}

.mainnavigation ul.navbar-nav .nav-item a:link,
.mainnavigation ul.navbar-nav .nav-item a:visited {
    color: #9db8ae;
}

.mainnavigation ul.navbar-nav .nav-item a svg {
    font-size: 2.5rem;
}

.mainnavigation ul.navbar-nav .nav-item .dropdown-menu a.dropdown-item {
    color: #50605a !important;
}

.mainnavigation ul.navbar-nav .nav-item .dropdown-menu a.dropdown-item:focus {
    background-color: #EBF1EF !important;
}

.mainnavigation ul.navbar-nav .nav-item a.dropdown-toggle::after {
    display: none;
}

.subnavigation {
    background-color: #9db8ae;
    padding: 1rem 0;
}

.subnavigation .navbar-nav {
    display: inline-block;
}

.subnavigation .navbar-nav li {
    display: inline-block;
    margin-right: 25px;
}

.subnavigation .navbar-nav li a:link,
.subnavigation .navbar-nav li a:visited {
    color: #50605a !important;
    font-weight: 500;
    padding: 14px 0;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.subnavigation .navbar-nav li a:hover,
.subnavigation .navbar-nav li a:active {
    color: #ffffff !important;
}

.subnavigation .navbar-nav li a.active {
    color: #ffffff !important;
}

.subnavigation .navbar-nav li a.active::after {
    bottom: 0;
    content: '';
    left: calc(50% - 9px);
    position: absolute;
    width: 10px; 
    height: 10px; 
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
}

.sidenavpanel {
    background-color: #9db8ae33;
    border-radius: 16px;
    padding: 1rem !important;
}

.sidenavpanel li {
    width: 100%;
}

.sidenavpanel li.sidenavpanel-title {
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.sidenavpanel li a {
    font-size: 1.15rem;
    color: #50605a;
}

.sidenavpanel li a.active {
    font-size: 1.15rem;
    color: #cc0c31;
}

.no-result-list-item {
    padding: 0.5rem 1rem;
}

.nav-title-item {
    color: #000000;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
}

.btn-highlight {
    background-color: #cc0c31 !important;
    border: 2px solid #cc0c31 !important;
    border-radius: 40px !important;
    font-weight: 700 !important;
    outline: none;
    padding: 15px 30px !important;
    text-transform: uppercase !important;
}

.btn-cancel-link {
    background-color: #EBF1EF !important;
    border: 2px solid #EBF1EF !important;
    border-radius: 40px !important;
    color: #50605e !important;
    font-size: 0.85rem !important;
    font-weight: 700 !important;
    outline: none;
    padding: 10px 20px !important;
    text-transform: uppercase !important;
}

.btn-highlight-link {
    background-color: #cc0c31 !important;
    border: 2px solid #cc0c31 !important;
    border-radius: 40px !important;
    color: #ffffff !important;
    font-size: 0.85rem !important;
    font-weight: 700 !important;
    outline: none;
    padding: 10px 20px !important;
    text-transform: uppercase !important;
}

.btn-highlight-outline-link {
    background-color: #ffffff !important;
    border: 2px solid #cc0c31 !important;
    border-radius: 40px !important;
    color: #cc0c31 !important;
    font-size: 0.85rem !important;
    font-weight: 700 !important;
    outline: none;
    padding: 10px 20px !important;
    text-transform: uppercase !important;
}

.disabled {
    cursor: not-allowed !important;
}

.tab-content-block {
    padding: calc(1rem + 1px);
}

table.permissions thead th {
    text-align: center;
}

li.nav-item.sub a {
    margin-left: 2rem !important;
    padding: 0 !important;
    padding-bottom: 0.5rem !important;

}

a.link:link,
a.link:visited {
    color: #cc0c31 !important;
    text-decoration: none !important;
}

a.link:active,
a.link:hover {
    text-decoration: underline !important;
}

.list-item * {
    font-size: 1.15rem !important;
}

.list-item .badge {
    font-size: 0.75rem !important;
    text-transform: uppercase !important;
}

.list-item a:link,
.list-item a:visited {
    color: #cc0c31;
    font-weight: 700;
    text-decoration: none;
}

.list-item a:active,
.list-item a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.small {
    padding: .25rem .5rem !important;
}

.sub {
    border: 2px solid #9db8ae !important;
}

.result.sub .result-title {
    color: #9db8ae !important;
}

.result {
    border: 2px solid #cc0c31;
    border-radius: 16px;
    padding: 1rem;
    position: relative;
}

.result .result-title {
    color: #cc0c31 !important;
    font-weight: 700;
}

.result .result-data {
    font-size: 0.85rem;
}

.result .save button {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.small {
    background-color: #cc0c31 !important;
    border: 2px solid #cc0c31 !important;
    border-radius: 40px !important;
    color: #ffffff !important;
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    outline: none;
    padding: 5px 10px !important;
}

.small-outline {
    background-color: #ffffff !important;
    border: 2px solid #cc0c31 !important;
    border-radius: 40px !important;
    color: #cc0c31 !important;
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    outline: none;
    padding: 5px 10px !important;
}

.result:hover .save button {
    display: block;
}

input {
    border-radius: 16px !important;
}

.card {
    border: 0 !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.card.selected .selection {
    display: block;
}

.card .selection {
    background-color: #cc0c31;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: none;
    height: 44px;
    position: absolute;
    top: calc(50% - 22px);
    right: calc(50% - 22px);
    text-align: center;
    width: 44px;
    z-index: 10000;
}

.card .selection svg {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 12px;
}

.small-text {
    font-size: 0.9rem !important;
    margin-top: 2px;
}

.input-group-text {
    background-color: transparent !important;
    border: 0 !important;
}

.introduction {
    background-color:#9db8ae33;
    border-radius: 16px;
    border-left: 4px solid #9db8ae;
    margin-bottom: 1rem;
    padding: 1rem;
}

.light-bg, .dark-bg {
    background-color: #ffffff;
    border-left: 3px solid #000000;
    border-radius: 16px;
    margin-top: 10px;
    padding: 5px 10px;
}

textarea[disabled], input[disabled], select[disabled] {
    cursor: not-allowed;
}

.sticky {
    background-color:#50605a;
}

.delete {
    color: #c1c1c1;
    cursor: pointer;
}

.delete:hover {
    color: #505050;
}

.company-details-form {
    display: none;
}

.company-description {
    color: #c1c1c1;
    font-size: 12px;
    font-style: italic;
}
.deleted {
    text-decoration: line-through;
}

label input[type="checkbox"] {
    pointer-events: none;
}

.scan-highlight p.excerpt {
    margin: 0;
    padding: 0 2.5rem;
}