<table align="center">
	<tr>
		<td align="right"><img src="http://tool.power-ed.nl/resources/images/power-logo.png" alt="Logo" height="35px" width="auto"></td>
	</tr>
	<tr>
		<td style="border-bottom: 3px solid #cc0c31; font-family: Arial; font-size: 24px; line-height: 36px; padding: 20px 10px; text-align: left; width: 100%; max-width: 600px;">
			Welkom
		</td>
	</tr>
	<tr>
        <td style="font-family: Arial; font-size: 14px; line-height: 21px; padding: 20px 10px; width: 100%; max-width: 600px;">
            <p>Beste [name],</p>
            <p>We hebben uw betaling goed ontvangen, en wij hebben uw account aangemaakt op Power-ED.</p>
            <p>Na de activatie van uw account, zal u een wachtwoord moeten kiezen. Vervolgens zal u zich moeten aanmelden via uw e-mail adres en het nieuwe aangemaakte wachtwoord.</p>
            <p><a href="http://tool.power-ed.nl/activate/account/[context-id]/[token]">Activateer uw account hier</a></a></p>
			<p>Na het activeren van uw account, zal u automatisch worden herleid naar de pagina waar u zich kan aanmelden. Deze pagina kan u ook bereiken via <a href="http://tool.power-ed.nl">deze link</a>.</p>
            <p>Bedankt</p>
        </td>
	</tr>
</table>