<table align="center">
	<tr>
		<td align="right"><img src="http://tool.power-ed.nl/resources/images/power-logo.png" alt="Logo" height="35px" width="auto"></td>
	</tr>
	<tr>
		<td style="border-bottom: 3px solid #cc0c31; font-family: Arial; font-size: 24px; line-height: 36px; padding: 20px 10px; text-align: left; width: 100%; max-width: 600px;">
			Foutmelding
		</td>
	</tr>
	<tr>
        <td style="font-family: Arial; font-size: 14px; line-height: 21px; padding: 20px 10px; width: 100%; max-width: 600px;">
            <p>Beste [name]</p>
            <p>Er is zonet een fout opgetreden op de website. Om makkelijker te kunnen debuggen zijn volgende gegevens beschikbaar gesteld:</p>
            <p>
                Request: [request]<br />
                Message: <strong>[message]</strong><br />
                Stacktrace: [stacktrace]<br />
                File: [file]<br />
                Line number: [lineNumber]
            </p>
            <p>Gebruiker ID: [context-id]</p>
        </td>
	</tr>
</table>