<table align="center">
	<tr>
		<td align="right"><img src="http://tool.power-ed.nl/resources/images/power-logo.png" alt="Logo" height="35px" width="auto"></td>
	</tr>
	<tr>
		<td style="border-bottom: 3px solid #cc0c31; font-family: Arial; font-size: 24px; line-height: 36px; padding: 20px 10px; text-align: left; width: 100%; max-width: 600px;">
			Herstel wachtwoord
		</td>
	</tr>
	<tr>
        <td style="font-family: Arial; font-size: 14px; line-height: 21px; padding: 20px 10px; width: 100%; max-width: 600px;">
            <p>Beste [name],</p>
            <p>U heeft zonet een verzoek ingedient om uw wachtwoord te herstellen.</p>
            <p>Klik op de onderstaande link om uw wachtwoord opnieuw in te stellen. Indien u zich niet herinnert een wachtwoord herstel verzoek te hebben opgestart, dan kan u deze e-mail negeren.</p>
            <p><a href="http://tool.power-ed.nl/support/reset-password/[context-id]/[token]">Wachtwoord opnieuw instellen</a></a></p>
            <p>Bedankt</p>
        </td>
	</tr>
</table>